/* === Google Font - Poppins === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    align-items: center;
    flex-flow: row wrap;
    position: relative;
    text-align: center;
    background: #F6F6F6;
}

h1 {
    color: F6F6F6;
    align-items: center;
    text-indent: -9999px;
    background: url(images/dish-discovery-logo-no-bk-400.png) no-repeat;
    width: 400px;
    height: 250px;
    margin: 10px;
}

footer {
    font-size: smaller;
}

.navbar {
    background-color: rgb(14, 146, 82) !important;

}

.navbar a {
    color: #F6F6F6 !important;
}

.form.form-control {
    margin: 30px;
}

.btn {
    margin: 30px;
    background: #FFBD59;
    outline: none;
    border: none;
    color: #F6F6F6;
    padding: 8px 22px;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background: #FF5757;
}

.recipe-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.icon-overlay {
    position: absolute;
    top: 50%;
    ;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: rgba(225, 225, 225, 0.9);
}

.center-container {
    position: relative;
}
.custom-width {
    width: 122%;
    margin-left: -11%;
    margin-right: -10%;
    margin-top: -5%;
}
.custom-width-recipe {
    width: 122%;
    margin-left: -11%;
    margin-right: -10%;
    margin-top: -5%;
    margin-bottom: -5%;
}

#main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keyword {
    margin: 0 auto;
    width: 400px;
    border-radius: 20px;
}

#filter-diets,
#filter-allergies {
    color: #0E9252;
    margin: 10px 0 18px 0;
}

#recipe-List {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

#recipe-info ul{
    list-style: none;
    padding-left: 0px;
}
#recipe-info li {
    margin: 0.3em 0;
}
