/* === Google Font - Poppins === this fonts will be used throughout the application */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* this will be the basic style unless it's specified */
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    align-items: center;
    flex-flow: row wrap;
    position: relative;
    text-align: center;
    background: #F6F6F6;
}

h1 {
    color: F6F6F6;
    align-items: center;
    text-indent: -9999px;
    background: url(images/dish-discovery-logo-no-bk-400.png) no-repeat;
    width: 400px;
    height: 250px;
    margin: 10px;
}

footer {
    font-size: smaller;
}

/* this colour overrides any other tyle. */
.navbar {
    background-color: rgb(14, 146, 82) !important;

}

.navbar a {
    color: #F6F6F6 !important;
}

/* search history modal class section starts from here */
.modal {
    height: 400px;
    overflow: auto;
}

.search-history,
.modal-button {
    margin: 0px;
    background: #FFBD59;
    outline: none;
    border: none;
    color: #F6F6F6;
    padding: 6px 18px;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* form section starts from here */
.form.form-control {
    margin: 30px;
}

.submit-button {
    margin: 30px;
    background: #FFBD59;
    outline: none;
    border: none;
    color: #F6F6F6;
    padding: 8px 22px;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* this will used by both main search and search history */
.btn:hover {
    color: white;
    background: #FF5757;
}

/* search result class starts from here */
.recipe-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.icon-overlay {
    position: absolute;
    top: 50%;
    ;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: rgba(225, 225, 225, 0.9);
}

.center-container {
    position: relative;
}

.custom-width {
    width: 122%;
    margin-left: -11%;
    margin-right: -10%;
    margin-top: -5%;
}

.custom-width-recipe {
    width: 122%;
    margin-left: -11%;
    margin-right: -10%;
    margin-top: -5%;
    margin-bottom: -5%;
}

/* cards class section styling */
.card-footer {
    justify-content: space-between;
    display: flex;
}

/* main id section styling */
#main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* search and filter section starts from here */
#keyword {
    margin: 0 auto;
    width: 400px;
    border-radius: 20px;
}

/* filter id section starts from here */
#filter-diets,
#filter-cuisine {
    color: #0E9252;
    margin: 10px 0 18px 0;
}

/* search result's styling */
#recipe-info ul {
    list-style: none;
    padding-left: 0px;
}

#recipe-info li {
    margin: 0.3em 0;
}